---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<p>
    <a target="_blank" href="https://github.com/mrbusche/recipesapp/blob/master/{{ page.inputPath}}">← Edit this page on Github</a><br>
    <a href="{{ '/' | url }}">← Home</a>
</p>